@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Karla:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');


body {
  max-width: 1300px;
  margin: 0 auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6
 {
  font-family: 'Montserrat', sans-seri
}

p {
  font-family: 'Karla', sans-serif;
}

.bg--grey {
  background-color: #e3e3e3;
}

.container-md {
  max-width: 1140px !important;
}

.btn-contact{
  padding: 0 !important;
  /* background-color: lime !important; */
  color: white !important;
}

.navbar {
  padding-bottom: 0 !important;
  /* background-color: rgba(162, 167, 169, 0.6); */
}

.navbar-brand {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 2.5rem !important;
}

.title-g {
  color: mediumseagreen;
}

.title-h {
  color: dodgerblue;
}

.nav-link.active {
  border-bottom: solid 2px;
}

.nav-link {
  text-align: center;
}

.hero {
  height: 80vh;
  background: url(../images/waterfall.webp) no-repeat center top;
  background-position: fixed;
  background-attachment: scroll;
  position: relative;
  /* display: flex;
  align-items: center; */
}

.hero-text {
  max-width: 45%;
  color: ivory;
  background-color: rgb(58, 41, 35, .5);
  /* margin: 4em 2em 0 4em; */
  padding: 1em;
  border-radius: 15px;
  position: absolute;
  top: 250px;
  left: 100px;
}

.what-sect {
  background-color: white;
  /* background-image: linear-gradient(to right,  #767270, #a4b4cc); */
}

.process-sect {
  /* background-color: #e3e3e3; */
  /* background-image: linear-gradient(to right, #5b6e28 , #99b344); */
}

#contact {
  background-image: linear-gradient(to right, #767270, #a4b4cc);
}


@media (max-width: 768px) {
  .navbar-collapse,
  .navbar-collapse .navbar-nav .nav-item .nav-link {
      color: #FFFFFF;
  }
  .navbar-nav {
    width: 25%;
    background-color: rgb(58, 41, 35, .3);
  }

  .hero-text {
    left: 50px;
    max-width: 60%;
    margin: 0 auto;
  }
}


/* 
.what-section {
  background-color: #9CEB48;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
}

.col {
  padding: 0 1em;
}

.s-heading{
  text-align: center;
  margin: 0 auto;
  padding: 1em 0;
  font-size: 2em;
}

.footer {
  background-color: #649b21;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.process-section {
  background-color: #ACACB7;
}

.shadow {
  box-shadow: rgba(17, 16, 16, 0.317) 5px 5px;
}

 */
