/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  background-color: #333333;
  color: #A9A9A9;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header h1 {
  font-weight: 400;
}


.nav-bar a {
 text-decoration: none;
 color: #A9A9A9;
}

.nav-bar a:hover {
  color: #dad8d8;
}

.current {
  border-bottom: 1px solid ivory;
} */

.navbar {
  padding-bottom: 0 !important;
}
.hero {
  height: 500px;
  background: url(../images/waterfall.webp) no-repeat center top;
  background-position: fixed;
  background-attachment: scroll;
  /* display: flex;
  align-items: center; */
}

.hero-text {
  width: 45%;
  color: ivory;
  background-color: rgb(58, 41, 35, .5);
  margin: 4em 2em 0 4em;
  padding: 1em;
  border-radius: 15px;
}

.what-sect {
  /* background-color: #A5B4CD; */
  background-image: linear-gradient(to right,  #767270, #a4b4cc);;
}

.process-sect {
  /* background-color: #74AB96; */
  background-image: linear-gradient(to right, #04863f , #39c692);
}

#contact {
  background-image: linear-gradient(to right, #767270, #a4b4cc);
}


/* 
.what-section {
  background-color: #9CEB48;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
}

.col {
  padding: 0 1em;
}

.s-heading{
  text-align: center;
  margin: 0 auto;
  padding: 1em 0;
  font-size: 2em;
}

.footer {
  background-color: #649b21;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.process-section {
  background-color: #ACACB7;
}

.shadow {
  box-shadow: rgba(17, 16, 16, 0.317) 5px 5px;
}

 */
